body {
  font-family: 'Courier New', monospace;
  font-size: 35px;
}

table {
  border-collapse: collapse;
  border: 2px solid #eee;
}

thead, 
tfoot {
  background: pink;
}

th,
td {
  padding: 10px;
  text-align: center;
}

tbody td:first-child {
  color: red;
}

tbody td:last-child {
  color: blue;
}

tfoot {
  font-weight: bold;
}

td.disabled {
  opacity: 0.3;
}

td.today {
  font-weight: bold;
}

#prev,
#next,
#today {
  cursor: pointer;
  user-select: none;
}